@use '@/styles/abstracts/_index' as *;
@use '@/styles/base/_media' as *;

.layout {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
  gap: mobile-vw(48px) mobile-vw(24px);
  margin-top: mobile-vw(96px);
  justify-content: center;
  color: var(--tertiary-variant);
 margin-top: mobile-vw(48px);
  .col {
    width: 100%;
    height: auto;
    aspect-ratio: 3 / 4;
  }

  @include desktop {
    margin-top: desktop-vw(96px);
    gap: desktop-vw(96px) desktop-vw(24px);
    grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
  }
}
