@use '@/styles/abstracts/_index' as *;
@use '@/styles/base/_media' as *;

.details {
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 500;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;

  &.show {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  @include desktop {
    &.show {
      flex-direction: row;
    }
  }
}

.btn-close {
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
  width: mobile-vw(24px);
  height: mobile-vw(24px);
  font-size: mobile-vw(16px);
  margin-bottom: mobile-vw(32px);
  border: solid 2px var(--secondary-variant);
  transition: all 0.3s ease-in;
  &:hover {
    color: var(--tertiary-variant);
    background-color: var(--primary-variant);
  }
  @include desktop {
    flex-direction: row;
    width: desktop-vw(40px);
    height: desktop-vw(40px);
    margin-bottom: desktop-vw(32px);
    font-size: desktop-vw(32px);
    font-weight: 900;
  }
}
.inner {
  position: relative;
  height: 100%;
  background-color: #fff;
  z-index: 501;
  transform: translateX(100%);
  padding: mobile-vw(24px);
  .modal-content-container {
    color: black;
    text-align: left;
  }

  @include desktop {
    padding: desktop-vw(48px);
    width: 50%;
    height: 100%;
    transform: translateY(100%);
  }
}

.title {
  padding-top: mobile-vw(24px);
  h2 {
    margin: mobile-vw(8px) 0;
  }

  @include desktop {
    padding-top: desktop-vw(128px);
    h2 {
      margin: desktop-vw(24px) 0;
    }
  }
}
.img {
  display: none;
  position: relative;
  width: 100%;
  height: 50vh;
  transform: translateX(-100%);
  img {
    object-fit: cover;
    width: 100%;
    height: 50vh;
  }

  @include desktop {
    display: block;
    width: 50%;
    height: 100%;
    transform: translateY(-100%);
  }
}

.desc {
  margin-top: mobile-vw(24px);
  p {
    font-size: mobile-vw(16px);
    line-height: 1.25;
    font-weight: 500;
  }

  @include desktop {
    margin-top: desktop-vw(48px);
    p {
      font-size: desktop-vw(31px);
      line-height: 1.25;
    }
  }
}
