@use '@/styles/abstracts/_index' as *;
@use '@/styles/base/_media' as *;

.accordion-cont {
  margin-top: mobile-vw(48px);
  @include desktop {
    margin-top: desktop-vw(160px);
  }
}

.faqs {
  margin-top: mobile-vw(120px);
  @include desktop {
    margin-top: desktop-vw(128px);
  }
}
