@use '@/styles/abstracts/_index' as *;
@use '@/styles/base/_media' as *;

.not-found {
  height: calc(100vh - var(--nav-height));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h1 {
    font-size: mobile-vw(119.06px);

    @include desktop {
      font-size: desktop-vw(519.21px);
      line-height: 85%;
    }
  }
}
