@use '@/styles/abstracts/_index' as *;
@use '@/styles/base/_media' as *;

.schedule {
  margin: mobile-vw(72px) 0;

  @include desktop {
    margin-top: desktop-vw(146px);
    margin-bottom: desktop-vw(124px);
  }
}

.btn {
  margin-top: mobile-vw(48px);

  .btn-inner {
    display: flex;
    gap: mobile-vw(16px);
    border-bottom: 1.75px solid;
    padding-bottom: mobile-vw(16px);
  }

  @include desktop {
    margin-top: desktop-vw(96px);

    .btn-inner {
      flex-direction: row;
      gap: desktop-vw(32px);
      padding-bottom: desktop-vw(24px);
    }
  }
}

.desc-cont {
  margin: mobile-vw(12px) 0;
  max-width: 55ch;
  font-size: 12px;

  @include desktop {
    margin: desktop-vw(32px) 0;
    font-size: desktop-vw(19px);
    max-width: 55ch;
  }
}

.card-cont {
  margin-top: mobile-vw(48px);
  // overflow: hidden;
  @include desktop {
    margin-top: desktop-vw(96px);
  }
}
