@use '@/styles/abstracts/_index' as *;
@use '@/styles/base/_media' as *;

.staff {
  padding: mobile-vw(48px) 0;

  @include desktop {
    padding: desktop-vw(96px) 0;
  }
}

.btn {
  margin-top: mobile-vw(48px);

  .btn-inner {
    display: flex;
    gap: mobile-vw(32px);
    border-bottom: 1.75px solid;
  }

  @include desktop {
    margin-top: desktop-vw(96px);

    .btn-inner {
      gap: desktop-vw(32px);
      padding-bottom: desktop-vw(24px);
    }
  }
}

.title {
  @include desktop {
    width: desktop-vw(850px);
  }
}
