@import './_reset.scss';
@import './_fonts.scss';
@import './_media.scss';
@import './_colors.scss';
@import './_functions.scss';
@import './_utilities.scss';
@import './_font-style.scss';
@import '../abstracts/index';
@import './_layouts.scss';
@import './_spacing.scss';

body {
  min-height: 100vh;
  color: var(--tertiary-variant);
  background-color: var(--secondary-variant);
  font-family: var(--body-font);
}

/* For images to not be able to exceed their container */
img {
  max-width: 100%;
}

.blaze-container {
  margin-inline: mobile-vw(8px);

  @include desktop {
    margin-inline: desktop-vw(32px);
  }
}
.blaze-slider.my-slider {
  --slides-to-show: 1;
  @include desktop {
    --slides-to-show: 3;
    --slide-gap: 20px;
  }
}

// @media (max-width: 900px) {
//   .blaze-slider.my-slider {

//   }
// }

// @media (max-width: 500px) {
//   .blaze-slider.my-slider {
//     --slides-to-show: 1;
//   }
// }
/* other styles */

.blaze-slider.dragging .blaze-track {
  cursor: grabbing;
}

.blaze-slider {
  position: relative;
}

.blaze-track {
  gap: mobile-vw(22px);

  @include desktop {
    gap: desktop-vw(23px);
  }
}

.blaze-track > * {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: width 300ms ease;
}
/* pagination buttons */

.blaze-pagination {
  display: flex;
  gap: 15px;
}

.blaze-pagination button {
  font-size: 0;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  outline: none;
  border: none;
  background: hsl(0deg, 0%, 15%);
  cursor: pointer;
  transition: transform 200ms ease, background-color 300ms ease;
}

.blaze-pagination button.active {
  background: white;
  transform: scale(1.3);
}

.blaze-next,
.blaze-prev {
  border: none;
  font-size: 0;
  width: mobile-vw(60px);
  height: mobile-vw(30px);
  border: solid 1.75px var(--tertiary-variant);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  transition: all 0.025s ease-in;

  span {
    color: var(--tertiary-variant);
  }

  &:hover {
    background-image: var(--bg-gradient);
  }

  svg {
    width: mobile-vw(20px);
  }
  @include desktop {
    width: desktop-vw(125px);
    height: desktop-vw(45px);
 

    svg {
      width: desktop-vw(43px);
   
      height: desktop-vw(12px);
    }
  }
}

.blaze-prev {
  transform: rotate(180deg);
}

/* for loop: false */
.blaze-slider.start .blaze-prev,
.blaze-slider.end .blaze-next {
  opacity: 0.5;
  cursor: not-allowed;
}

.controls {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 50px;
  gap: 20px;
  margin: mobile-vw(24px) mobile-vw(24px);
  @include desktop {
    margin: desktop-vw(48px) 0;
  }
}

.res-sp-10 {
  margin-top: mobile-vw(96px);

  @include desktop {
    margin-top: desktop-vw(128px);
  }
}

.res-sp-9 {
  margin-top: mobile-vw(48px);

  @include desktop {
    margin-top: desktop-vw(96px);
  }
}

:root {
  --nav-height: #{mobile-vw(65px)};
  --bg-gradient: linear-gradient(90deg, #ff5500, #f94d29);
  @include desktop {
    --nav-height: #{desktop-vw(120px)};
  }
}
